<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="container-fluid justify-content-center">
    <%= link_to "Challenge List", root_path, class: "navbar-brand" %>

  </div>
</nav>